#* @vtlvariable name="req" type="javax.xml.ws.spi.http.HttpExchange" *#
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#

#* @vtlvariable name="issues" type="java.util.Set<com.atlassian.jira.issue.Issue>" *#
#* @vtlvariable name="epicId" type="java.lang.String" *#

<head>
    $webResourceManager.requireResourcesForContext("epicsynccontext")
    <script>
        AJS.$(document).ready(function () {
            if (AJS.$(".issues-ignored").size() == 0) {
                AJS.$("#message-ignoring").remove();
            }
        });
    </script>
</head>
<body>
<div class="main-heading">
    <h2 title="Sync issues">$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.title")</h2>
</div>
<br/>
    #if($issues.size() == 0)
    <div class="aui-message warning"><span class="aui-icon icon-warning"></span>
        <p><b>$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.noIssues")</b></p>
    </div>
    #else
    <div>
        <p style="padding: 10px;"><b>$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.selectIssues")</b></p>
        <form action="EpicSyncAction!default.jspa?epicId=$epicId" method="POST">
            <div class="main-container" style="padding-bottom: 10px; max-height: 70vh; overflow-y: scroll;">
                <table id="issuetable" class="aui editable">
                    <thead >
                    <tr class="rowHeader">
                        <th id="flag">#</th>
                        <th id="issues">Key</th>
                        <th id="description">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($issue in $issues)
                            #if( "$!issue.getTimeSpent()" == "" || $issue.getTimeSpent() <= 0)
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedIssueIds" value="$issue.getKey()" checked/>
                                </td>
                                <td class="nav issuekey">
                                    <a class="issue-link"
                                       href="$req.contextPath/browse/$issue.getKey()">$issue.getKey()</a>
                                </td>
                                <td class="nav description" colspan="3" title="$issue.getSummary()">
                                    <p>$issue.getSummary()</p>
                                </td>
                            </tr>
                            #end
                        #end
                    <tr id="message-ignoring">
                        <td colspan="3" align="center"><b>$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.have.worklog")</b></td>
                    </tr>
                        #foreach($issue in $issues)
                            #if($issue.getTimeSpent() > 0)
                            <tr class="issues-ignored">
                                <td>
                                    <input type="checkbox" disabled/>
                                </td>
                                <td class="nav issuekey">
                                    <a class="issue-link"
                                       href="$req.contextPath/browse/$issue.getKey()">$issue.getKey()</a>
                                </td>
                                <td class="nav description" colspan="3" title="$issue.getSummary()">
                                    <p>$issue.getSummary()</p>
                                </td>
                            </tr>
                            #end
                        #end
                    </tbody>
                </table>
            </div>
            <div class="buttons form-footer" style="padding: 10px 25px 10px 0px;">
                <input accesskey="s" class="aui-button" id="update-issues" name="update"
                       title="Press Alt+s to submit this form" type="submit" value="$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.update")">
                <a accesskey="`" class="aui-button aui-button-link cancel" href="$req.contextPath/browse/$epicId"
                   id="update-issue-cancel" title="Press Alt+` to cancel">$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.cancel")</a>
            </div>
        </form>
    </div>
    #end
</body>
