#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#
$webResourceManager.requireResourcesForContext("epicsynccontext")

<div class="main-heading">
    <h2 title="Sync issues">$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.title")</h2>
</div>
<div style="padding: 10px;">
    <br/>
    <div class="aui-message error"><span class="aui-icon icon-error"></span>
        <p>$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.errorHeading")</p>
    </div>
    <div class="aui-message warning"><span class="aui-icon icon-warning"></span>
        <p>$i18n.getText("ru.sbertech.atlas.jira.cupintegration.plugin.epic.synchronization.errorMessage")</p>
    </div>
</div>

