div.aui .field-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 145px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

div.aui legend, div.aui .field-group > label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0 0;
    top: 0;
    position: absolute;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
}

.selectFilteLink {
    padding: 1px;
}

div.aui textarea {
    margin: 0px;
    min-width: 400px !important;
    height: 400px;
    max-width: 2000px !important;
}
.errorField {
    border: 1px red solid !important;
}

span.spinner-span {
    padding-left: 50px;
    display: inline-block
}

span.edit-button {
  position: absolute;
  right: 5px;
  border: 1px solid #D0D0D0 ;
  padding-right: 2px;
  border-radius: 3px;
  opacity: 0.7;
  color: green;
}

span.edit-row {
    color: green;
    position: relative;
    float: right;
    border: 1px solid #D0D0D0;
    padding-right: 2px;
    border-radius: 3px;
    opacity: 0.7;

}

span.add-row {
    color: #3333FF;
    position: relative;
    float: right;
    border: 1px solid #D0D0D0;
    padding-right: 2px;
    border-radius: 3px;
    opacity: 0.7;
}

span.delete-row {
    color: red;
    position: relative;
    float: right;
    right: 5px;
    border: 1px solid #D0D0D0;
    padding-right: 2px;
    border-radius: 3px;
    opacity: 0.7;
}

span.apply-row {
    color: green;
    position: relative;
    float: right;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    opacity: 0.7;
}

td .select2-container {
    width: 150px;
}

table#params-table td.column-name {
    width: 173px;
}

table#params-table td.sfieldType {
    width: 173px;
}

table#params-table td.sfieldName {
    width: 210px;
}

.el-hidden {
    display: none;
}

table#params-table td.arrow-column {
    width: 15px;
}

table#params-table tr {
    height: 45px;
}

table#params-table tr td span.edit-row {
    visibility: hidden;
}

table#params-table tr:hover td span.edit-row {
    visibility: visible;
}

table#params-table {
    width: 940px;;
}
.importDefaultField {
    width: 150px;
}
.importDefaultFieldId {
    display: inline-block;
}
#saveImportSettings, #saveReleaseMapping {
    display:none;
}
.importDefaultField {
    display:none;
}
.importSettingsButton {
    display: inline-block;
    margin-left: 40px !important;
}