#* @vtlvariable name="buildDate" type="java.util.Date" *#
#* @vtlvariable name="totalissue" type="java.lang.Long" *#
#* @vtlvariable name="endissue" type="java.lang.Long" *#
#* @vtlvariable name="startissue" type="java.lang.Long" *#
<rss>
    <channel>
        <build_date>$buildDate</build_date>
        #if ($totalissue)
            <issue start="$!{startissue}" end="$!{endissue}" total="$!{totalissue}"/>
        #end
