#* @vtlvariable name="visibleCustomFields" type="java.util.List<com.atlassian.jira.issue.fields.layout.field.FieldLayoutItem>" *#
#* @vtlvariable name="worklogs" type="java.util.Map<ru.sbertech.atlas.jira.cupintegration.out.model.UserContainer, java.util.List<ru.sbertech.atlas.jira.cupintegration.out.model.WorkLogContainer>>" *#
#* @vtlvariable name="xmlView" type="ru.sbertech.atlas.jira.cupintegration.out.xmlview.ExtendedIssueView" *#
#* @vtlvariable name="issue" type="com.atlassian.jira.issue.Issue" *#
#* @vtlvariable name="requestContext" type="com.atlassian.jira.util.velocity.VelocityRequestContext" *#
#* @vtlvariable name="issueXmlViewFields" type="com.atlassian.jira.web.bean.CustomIssueXMLViewFieldsBean" *#
#disable_html_escaping()
<item>
#if ($issueXmlViewFields.isFieldRequestedAndVisible('title'))
    <title>[#xmlEscape($issue.key)] #xmlEscape($issue.summary)</title>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('link'))
    <link>#xmlEscape($requestContext.baseUrl)/browse/$issue.key</link>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('project'))
    <project id="$issue.projectObject.id" key="#xmlEscape($issue.projectObject.key)">#xmlEscape($issue.project.name)</project>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('description'))
    <description>#xmlEscape($xmlView.getRenderedContent('description', $issue.description, $issue))</description>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('environment'))
    <environment>#xmlEscape($xmlView.getRenderedContent('environment', $issue.environment, $issue))</environment>
#end
    <key id="$issue.id">#xmlEscape($issue.key)</key>
#if ($issueXmlViewFields.isFieldRequestedAndVisible('summary'))
    <summary>#xmlEscape($issue.summary)</summary>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('issuetype'))
    <type id="$issue.issueTypeObject.id">#xmlEscape($issue.issueTypeObject.nameTranslation)</type>
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('parent'))
    #if ($issue.parent)
        <parent id="$issue.parent.id">$issue.parent.key</parent>
    #end
#end
#if ($issueXmlViewFields.isFieldRequestedAndVisible('status'))
    #set($simpleStatus = $issue.statusObject.getSimpleStatus())
    <status id="$simpleStatus.id" iconUrl="#getNormalizedUrlXmlEscaped($simpleStatus.iconUrl)">#xmlEscape($simpleStatus.name)</status>
    #if ($simpleStatus.statusCategory)
    ## TODO WTF?
        <statusCategory id="$simpleStatus.statusCategory.id" key="#xmlEscape($simpleStatus.statusCategory.key)" colorName="#xmlEscape($simpleStatus.statusCategory.colorName)"/>
    #end
#end
##WorkLogs
#if ($!worklogs)
    <resources>
        #foreach ($userObject in $worklogs.keySet())
            #set($user = $userObject.getUser())
            <user id="$userObject.getEmployeeCode()" name="$user.getDisplayName()" email="$user.getEmailAddress()">
                #foreach ($log in $worklogs.get($userObject))
                    <actual_effort date="$log.getStartDateFormatted()">$log.getTimeSpentFormatted()</actual_effort>
                #end
            </user>
        #end
    </resources>
#end
## Custom fields
#if ( $visibleCustomFields && !($visibleCustomFields.isEmpty()))
    #foreach ($layoutItem in $visibleCustomFields)
        #if ($layoutItem.orderableField.hasValue($issue))
            <$layoutItem.orderableField.id key="#if($layoutItem.orderableField.customFieldType.key) $layoutItem.orderableField.customFieldType.key #end">
                <customfieldname>#xmlEscape($layoutItem.orderableField.name)</customfieldname>
                <customfieldvalues>
                    $xmlView.getCustomFieldXML($layoutItem.orderableField, $issue)
                </customfieldvalues>
            </$layoutItem.orderableField.id>
        #end
    #end
#end
</item>
